# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GlobalGameJamGame2022.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\documents\HKU\GGJ\GGJGame\GlobalGameJamGame2022\.idea\.idea.GlobalGameJamGame2022\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
